body{
    background-image: url(./bilder/earth.jpg);
    background-color: black;
    background-repeat: no-repeat;
background-position: -400px 0;

}
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    color: aliceblue;
    margin-left: 300px;
    width: 450px;
    bgm
}