body{
background-image: url(./bilder/patternthathurts.jpg);
}
table{
    background-image: url(./bilder/otherpattern.jpg);
width: 1000px;
margin: auto;
}
caption{
font-weight: 600;
}
tr{
    font-weight: 600;
}
th{
padding: 15px;
font-weight: 600;
}
td{
padding: 10px;
font-weight: 600;
}
img{
    padding: 10px;
    width: 100px;
}